@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model KonyvLab.dal.Models.Review

<script src="~/lib/jquery/dist/jquery.js"></script>
<link rel="stylesheet" href="~/lib/jquery-bar-rating/dist/themes/bootstrap-stars.css">
<script src="~/lib/jquery-bar-rating/dist/jquery.barrating.min.js"></script>

<form asp-controller="Review" asp-action="Update/@Model._id.ToString()" method="post" id="Add" asp-route-returnurl="@ViewData["ReturnUrl"]">

    <div class="col-sm-10">
        <label>Title:</label>
        <input id="Title" list="TitlesFromGoogle" autocomplete="off" name="Title" value="@Model.Title" required class="form-control" readonly /><br />

        <label>Author:</label>
        <input id="Author" type="text" name="Author" value="@Model.Title" required class="form-control" /><br />

        <label>Category:</label>
        <input id="Category" type="text" name="Category" value="@Model.Category" required class="form-control" /><br />
    </div>
    <div class="col-sm-2">
        <img id="Image" src="@Model.ImageLink" />
        <input id="ImageLink" type="text" name="ImageLink" value="" hidden /><br />
    </div>

    <div class="col-sm-12">
        <label>Description:</label>
        <textarea id="Description" rows="8" cols="100" name="Description" class="form-control">@Model.Description</textarea>
    </div>
    <div class="col-sm-6">
        <label>Rating:</label>
        <select id="Rating" name="Rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>

    </div>


    <div class="col-sm-12">
        <label>Review:</label>
        <textarea rows="8" cols="100" name="Content" form="Add" id="content" required class="form-control">@Model.Content</textarea>
    </div>
    <div class="col-sm-12">
        <button class="btn btn-primary" type="submit" value="Submit">Update!</button>
    </div>
</form>
<div class="col-sm-12">
    <a class="btn btn-default" href="/Profile/Index/@UserManager.GetUserName(User)">Cancel</a>
        
    <a class="btn btn-danger" href="/Review/Delete/@Model._id.ToString()">Delete</a>
</div>
<script>
    $(document).ready(function () {

        $('#Rating').barrating({
            theme: 'bootstrap-stars'
        });
        $('#Rating').barrating('set',@Model.Rating);
    });
</script>