@model KonyvLab.Models.ProfileViewModels.SearchViewModel
@if (Model.FoundUsers.Any())
{
    <h2>Users found:</h2>
    <table>
    @foreach (var item in Model.FoundUsers)
    {
        <tr>
            <td width="20%">
                <a href="/Profile/Index/@item.UserName"> @item.UserName</a>
            </td>
            <td width="20%">
                <p>     @item.Email     </p>
            </td>
            <td width="20%"> 
                <a href="/Profile/SendMessage/@item.UserName">Write a Message!</a>
            </td>        
        </tr>
    }
    </table>
    <p/>
}

@if (Model.FoundAuthor.Any())
{
    <h2>Reviews found with matching Authors: </h2>
    <table>
        @foreach (var item in Model.FoundAuthor)
        {
            <tr>
                <td width="20%">
                    <a href="/Review/Read/@item._id.ToString()">@item.Author</a>
                </td>
                <td width="70%">
                    @item.Title
                </td>
                <td width="10%">
                    @item.UserName
                </td>
            </tr>
        }
    </table>
<p />
}

@if (Model.FoundTitle.Any())
{
<h2>Reviews found with matching Title: </h2>
    <table>
        @foreach (var item in Model.FoundTitle)
        {
            <tr>
                <td width="20%">
                    <a href="/Review/Read/@item._id.ToString()">@item.Author</a>
                </td>
                <td width="70%">
                    @item.Title
                </td>
                <td width="10%">
                    @item.UserName
                </td>


            </tr>
        }
    </table>
}